<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-truck wow bounceIn text-primary"></i>
                    <h3>Variety of trucks</h3>
                    <p class="text-muted">Our fleet covers a variety of trucks for a variety of needs</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Strong Movers</h3>
                    <p class="text-muted">With every booking, we provide you with one strong mover</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-usd wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Competitive Pricing</h3>
                    <p class="text-muted">Cheap and affordable moving</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>We move with love</h3>
                    <p class="text-muted">We take care of your stuff</p>
                </div>
            </div>
        </div>
    </div>
</section>

